input[type=text]:hover{
    border:1px solid;
}
input[type=email]:hover{
    border:1px solid;
}
input[type=date]:hover{
    border:1px solid;
}
.snippet{
    box-shadow: 5px 5px 5px 5px #BCBCCB48;
}
.snippet:hover{
    box-shadow:none;
}


